.card {
  width: 400px;
  height: 400px;
  margin-bottom: 16px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  display: inline-block;
  margin-right: 30px;
  margin-top: 40px;
}

.card__link{
  text-decoration: none;
}

.card__img{
  width: 400px;
  height: 200px;
  object-fit: cover;
}

.card__content{
  height: 200px;
  color: #616060;
}

.card__title{
  text-align: center;
  font-size: 24px;
  margin: 18px 0;
  font-weight: 800;
}

.card__description{
  padding: 0 40px;
  font-size: 12px;
  font-weight: 400;
}